.responsive-img{
    width: 100%;
    height: auto;
}
.cursor-pointer{
    cursor: pointer;
}
.no-browser-autofill{
    @-webkit-keyframes autofill { //remove autofill color of the browsers (autosuggest in inputs)
        to {
            color: white;
            background: transparent;
        }
    }
    input:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }
}
