//hover transitions

$hover-transition: 200ms;

//breakpoints

$breakpoint-medium: 640px;
$breakpoint-large:  1024px;

//containers

$wrapper-desktop-max-width: 1440px;
$desktop-side-margin: 80px;
$desktop-inner-content-width: 1080px;
$mobile-side-margin: 12px;