$columns: 12;

.row:after{
    content: "";
    display: block;
    clear: both;
}

@mixin generate-spans($device-size){
    @for $i from 1 through $columns{
        .span-#{$i}-#{$device-size}{
            width: 100% / $columns * $i;
            float: left;
        }
    }
}

//mobile
@media (max-width: $breakpoint-medium){
    @include generate-spans(s);
}
//tablet
@media (min-width: $breakpoint-medium){
    @include generate-spans(m);
}
//desktop
@media (min-width: $breakpoint-large){
    @include generate-spans(l);
}